<head>
    <script src="{{ .CDN }}"></script>
</head>
<body>
    <div id="loading">Loading...</div>
    <div id="plot"></div>

<script>
const ENDPOINT = {{ .Endpoint }};
const DATA_PATH = {{ .DataPath }};
const LSATK = {{ .LocalStorageAuthTokenKey }};
</script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src={{ .Endpoint }}/static/js/plot.js></script>
</body>
